body{
	
	text-align: center;
background:#eeeeee;
font-family: 'Teko', sans-serif;
padding: 10px 30px;
}


h1	{
	color:#f87d42;
}

.avatar{
	width: 250px;
	height:300px;
	border: 5px solid #f87d42 ;
	border-radius: 4px;
	box-shadow: 5px 5px 12px grey;
	margin-top: 25px;
	padding:8px;

}

.bio {
	font-size: 50px;
}

.network{
	font-size: 24px;
	color: #f87d42;
	text-decoration: none;

}

.network:hover{
	color: black;
}